<div id="post_content">
  <p class ="Name">
    Name: <%= @organization.name %>
  </p>

  <p class="Phone">
    Phone: <%= @organization.phone %>
  </p>

  <p class="Email">
    Email: <%= @organization.email %>
  </p>

  <p class="Website">
    Website: <%= @organization.website %>
  </p>

  <div class="logo">
    Logo:
    <%= image_tag(@organization.logo) %>
  </div>
</div>

